PORT=4000
JWT_SECRET=supersecretkey
BANK_CODE=775
BANK_NAME=MMA Bank
MONGO_URI=mongodb://localhost:27017/mma-bank
# Optional NIBSS credentials for real verification integration
NIBSS_API_KEY=
NIBSS_API_SECRET=
NIBSS_ONBOARDING_URL=https://nibssbyphoenix.onrender.com/api/onboarding/verify